{% extends 'base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
    <script type=“text/javascript” src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type=“text/javascript” src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
{% endblock %}

{% block nav_home_active %}{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <div class="bg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3>{{ blog.title }}</h3>
                        <ul class="blog_info_description">
                            <li>作者:{{ blog.author }}</li>
                            <li>分类:<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                            <li>阅读:{{ blog.get_read_num }}</li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="blog-content">{{ blog.content|safe }}</div>
                            </li>
                        </ul>
                        <div class="like" onclick="likeChange(this,'{% get_content_type blog %}',{{ blog.pk }})">
                        <span class="glyphicon glyphicon-thumbs-up {% get_like_status blog %}"
                              aria-hidden="true"></span>
                            <span class="liked_num">{% get_like_count blog %}</span>
                            <span>点赞</span>
                        </div>
                        <div class="blog-more">
                            <p>上一篇:
                                {% if previous_blog %}
                                    <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a>
                                {% else %}
                                    没啦
                                {% endif %}
                            </p>
                            <p>下一篇:
                                {% if next_blog %}
                                    <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                                {% else %}
                                    没啦
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <ul class="blog_info_description">
                            <li>发表时间:{{ blog.create_time|date:"Y-m-d h:m:s" }}</li>
                            <li>评论数:{% get_comment_count blog %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="comment-area-title">提交评论</h3></div>
                    <div class="panel-body">{% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'update_comment' %}" method="post"
                              style="overflow: hidden">
                            <label for="comment-text">{{ user.get_nickname_or_username }}小可爱，快说说你的粗鄙之见叭~!</label>
                            <div id="reply_content_container" style="display: none">
                                <p>回复:</p>
                                <div id="reply_content"></div>
                            </div>
                            {% csrf_token %}
                            {% get_comment_form blog as comment_form %}
                            {{ comment_form.media }}
                            {{ comment_form.as_p }}
                            <span id="comment-error" class="text-danger pull-left"></span>
                            <input type="submit" value="评论" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
                        你都还没有登录呢！
                        <a class="btn btn-success" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="comment-area panel panel-default">
                    <div class="panel-heading"><h3 class="comment-area-title">评论列表</h3></div>
                    <div class="panel-body">
                        <ul class="list-group" id="comment-list">
                            {% get_comment_list blog as comments %}
                            {% for comment in comments %}
                                <li class="list-group-item">
                                    <div id="root_{{ comment.pk }}" class="comment">
                                        <span>{{ comment.user.get_nickname_or_username }}</span>
                                        <div id="comment_{{ comment.pk }}">
                                            {{ comment.text|safe }}
                                        </div>
                                        <div class="like"
                                             onclick="likeChange(this,'{% get_content_type comment %}',{{ comment.pk }})">
                                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status comment %}"
                                          aria-hidden="true"></span>
                                            <span class="liked_num">{% get_like_count comment %}</span>
                                            <span>点赞</span>
                                        </div>
                                        <a href="javascript:reply({{ comment.pk }})">回复</a>
                                        <div>({{ comment.comment_time|date:"Y-m-d H:i:s" }}):</div>
                                        <hr style="border:1px dotted lightgray "/>

                                        {% for reply in comment.root_comment.all %}
                                            <div class="reply">
                                                <span>{{ reply.user.get_nickname_or_username }}</span>
                                                <span>回复</span>
                                                <span>{{ reply.reply_to.get_nickname_or_username }}:</span>
                                                <div id="comment_{{ reply.pk }}">
                                                    {{ reply.text|safe }}
                                                </div>
                                                <div class="like"
                                                     onclick="likeChange(this,'{% get_content_type reply %}',{{ reply.pk }})">
                                            <span class="glyphicon glyphicon-thumbs-up {% get_like_status reply %}"
                                                  aria-hidden="true"></span>
                                                    <span class="liked_num">{% get_like_count reply %}</span>
                                                    <span>点赞</span>
                                                </div>
                                                <a href="javascript:reply({{ reply.pk }})">回复</a>
                                                <div>({{ reply.comment_time|date:"Y-m-d H:i:s" }})</div>
                                                <hr style="border:1px dotted lightgray "/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </li>
                            {% empty %}
                                <li class="list-group-item">
                                    <span id="no_comment">暂无评论</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block script_extend %}
    <script type="text/javascript">

        function reply(reply_comment_id) {
            //设置回复样式
            $("#reply_comment_id").val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $("#reply_content_container").show();
            $("#reply_content").html(html);
            $("html").animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function () {
                CKEDITOR.instances['id_text'].focus();
            });
        }

        function likeChange(obj, content_type, object_id) {
            var is_like = obj.getElementsByClassName('active').length == 0//要喜欢
            $.ajax({
                url: '{% url 'like_change' %}',
                type: 'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like,
                },
                cache: false,
                success: function (data) {
                    if (data['status'] == 'SUCCESS') {
                        var element = $(obj.getElementsByClassName('glyphicon'));
                        var liked_num = $(obj.getElementsByClassName('liked_num'));
                        if (is_like) {
                            element.addClass('active')
                            //更新点赞状态
                            //更新点赞数量
                        } else {
                            element.removeClass('active')
                        }
                        liked_num.text(data['liked_num'])
                    } else {
                        if (data['code'] == 400) {
                            $('#login_model').modal('show');
                        } else {
                            alert(data['message']);
                        }
                    }
                },
                error: function (xhr) {
                    console.log(xhr)
                }
            });
        }

        $("#comment_form").submit(
            function () {
                //清空错误提示
                $("#comment-error").text('');
                if (CKEDITOR.instances.id_text.document.getBody().getText().trim() == '') {
                    $("#comment-error").text("评论内容不能为空");
                    return false;
                }
                CKEDITOR.instances["id_text"].updateElement();
                $.ajax({
                    url: '{% url 'update_comment' %}',
                    type: 'POST',
                    data: $(this).serialize(),
                    cache: false,
                    success: function (data) {
                        if (data['status'] == 'SUCCESS') {
                            //生成 html内容 异步更新
                            if ($("#reply_comment_id").val() == 0) {
                                //插入评论
                                var comment_html =
                                    '<li class="list-group-item">' +
                                    '<div id="root_{0}" class="comment">' +
                                    '<span>{1}</span>' +
                                    '<span>({2}):</span>' +
                                    '<div id="comment_{0}">{3}</div>' +
                                    '<div class="like" onclick="likeChange(this,\'{4}\',{0})">' +
                                    '<span class="glyphicon glyphicon-thumbs-up"></span>' +
                                    '<span class="liked_num">0</span>' +
                                    '<span>点赞 </span>' +
                                    '</div>' +
                                    '<a href="javascript:reply({0})"> 回复</a>' +
                                    '</div>' +
                                    '</li>';
                                comment_html = comment_html.format(data['pk'], data['username'], timeFormat(data['comment_time']), data['text'], data['content_type']);
                                $("#comment-list").prepend(comment_html);
                            } else {
                                //插入回复
                                var reply_html =
                                    '<div class="reply">' +
                                    '<span>{1}</span>' +
                                    '<span>({2})</span>' +
                                    '<span>回复</span>' +
                                    '<span>{3}:</span>' +
                                    '<div id="comment_{0}">{4}</div>' +
                                    '<div class="like"' +
                                    'onclick="likeChange(this,\'{5}\',{0})">' +
                                    '<span class="glyphicon glyphicon-thumbs-up"></span>' +
                                    '<span class="liked_num">0</span>' +
                                    '<span>点赞 </span>' +
                                    '</div>' +
                                    '<a href="javascript:reply({0})"> 回复</a>' +
                                    '</div>';
                                reply_html = reply_html.format(data['pk'], data['username'], timeFormat(data['comment_time']), data['reply_to'], data['text'], data['content_type']);
                                $("#root_" + data['root_pk']).append(reply_html);
                            }
                            //评论结束后的清空等
                            CKEDITOR.instances.id_text.setData('');
                            $("#reply_content_container").hide();
                            $("#reply_comment_id").val(0);
                            $("#no_comment").remove();
                            $("#comment-error").text("评论成功!");
                        } else {
                            //发生错误
                            console.log(data);
                            $("#comment-error").text(data['message']);
                        }
                    },
                    error: function (xhr) {
                        //发生错误
                        console.log(xhr);
                    }
                });
                return false;
            });

    </script>
{% endblock %}

