{% extends 'base.html' %}

{% block title %}
    我的网站
{% endblock %}

{% load staticfiles %}
{% load comment_tags %}
{% load likes_tags %}
{% block header_extends %}
    <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block nav_home_active %}{% endblock %}
{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <div class="bg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
                {# 博客列表 #}
                <div class="panel panel-primary">
                    <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>
                    <div class="panel-body">
                        {# 当前页全部博客 #}
                        {% for blog in page_of_blogs.object_list %}
                            <div class="blog">
                                <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h3>
                                <p class="blog_info">
                                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> <a
                                        href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                                    <span class="glyphicon glyphicon-time"
                                          aria-hidden="true"></span> {{ blog.create_time|date:"Y-m-d" }}
                                    <span class="glyphicon glyphicon-eye-open"
                                          aria-hidden="true"></span> {{ blog.get_read_num }}
                                    <span class="glyphicon glyphicon-comment"
                                          aria-hidden="true"></span> {% get_comment_count blog %}
                                    <span class="glyphicon glyphicon-thumbs-up"
                                          aria-hidden="true"></span> {% get_like_count blog %}
                                </p>
                                <p>{{ blog.content|striptags|truncatechars_html:100 }}</p>
                            </div>

                        {% empty %}
                            <div class="blog">
                                <h3>暂无博客，敬请期待</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="paginator">
                    {# 选页器 #}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {# 上一页 #}
                            <li>
                                {% if page_of_blogs.has_previous %}
                                    <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&laquo;</span>
                                {% endif %}
                            </li>
                            {# 中间页 #}
                            {% for page_num in page_range %}
                                {% if page_num == page_of_blogs.number %}
                                    <li class="active"><span>{{ page_num }}</span></li>
                                {% else %}
                                    {% if page_num == '...' %}
                                        <li><span>{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {# 下一页 #}
                            <li>
                                {% if page_of_blogs.has_next %}
                                    <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&raquo;</span>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                    <p>
                        {{ page_of_blogs.paginator.count }}篇博客
                    </p>
                </div>
            </div>
            {# 博客分类 #}
            <div class="hidden-xs col-sm-4 col-md-4 col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}({{ blog_type.blog_count }})</a>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">日期</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date,blog_count in blog_dates.items %}
                                <li>
                                    <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:"Y年m月" }}({{ blog_count }})
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">一周访客数量</div>
                    <div class="panel-body">
                        <div id="container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hidden-sm hidden-md hidden-lg col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}({{ blog_type.blog_count }})</a>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">日期</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date,blog_count in blog_dates.items %}
                                <li>
                                    <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                        {{ blog_date|date:"Y年m月" }}({{ blog_count }})
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">一周访客数量</div>
                    <div class="panel-body">
                        <div id="container_c"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        // 图表配置
        var options = {
            chart: {type: 'line'},
            title: {text: null},
            xAxis: {categories:{{dates|safe}}, tickmarkPlacement: "on"},
            yAxis: {title: {text: null}, labels: {enabled: false}},
            series: [{name: '每日访客数量', data:{{ read_nums }}}],
            legend: {enabled: false},
            credits: {enabled: false},
            plotOptions: {line: {dataLabels: {enabled: true}}},
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
        var chart_c = Highcharts.chart('container_c', options);
    </script>
{% endblock %}

